{% extends "base.html" %}

{% block title %}Sprints{% endblock %}
{% block header %}Sprints{% endblock %}

{% block js %}
<script>
$(function() {
    $('.js-do-snapshot').click(function() {
        $('.js-do-snapshot').prop('disabled', true);
        $('.js-do-snapshot').text('Updating...');
        $('.js-do-snapshot').removeClass('btn-primary');
        $.ajax({
            type: 'POST',
            url: '/snapshot',
        }).done(function() {
            document.location.reload(true);
        }).always(function() {
            $('.js-do-snapshot').prop('disabled', false);
            $('.js-do-snapshot').text('Update');
            $('.js-do-snapshot').addClass('btn-primary');
        });
    });

    function getSelectedSprints() {
        var sprints = [];
        $('.js-sprint:checked').each(function() {
            sprints.push($(this).data('sprint-id'));
        });
        return sprints;
    }

    $('.js-view-combined').click(function() {
        window.location = "{{ url_for('sprint', sprint_ids='XX') }}".replace('XX', getSelectedSprints().join(','));
    });

    $('.js-get-stats').click(function() {
        // TODO: Put a spinner up while the page is loading
        window.location = "{{ url_for('stats', sprint_ids='XX')}}".replace('XX', getSelectedSprints().join(','));
    });

    $('.js-sprint').click(function() {
        if (getSelectedSprints().length > 0) {
            $('.js-view-combined').removeClass('disabled');
        } else {
            $('.js-view-combined').addClass('disabled');
        }
    });
});
</script>
{% endblock %}

{% block content %}
<table class='table'>
    <thead>
        <tr>
            <th>Sprint</th>
            <th>End Date</th>
            <th>Total Points</th>
            <th>Completed Points</th>
            <th>Completion Percentage</th>
        </tr>
    </thead>
    <tbody>
        {% for sprint in sprints %}
        <tr>
            <td>
                <input type="checkbox" class="js-sprint" data-sprint-id="{{sprint.model.id}}">
                <a href="{{ url_for('sprint', sprint_ids=sprint.model.id) }}">{{ sprint.model.name }}</a>
                {% if sprint.model.locked %}
                <img src='/static/img/lock-16.png'>
                {% endif %}
            </td>
            <td>{{ sprint.model.end_date }}</td>
            <td>{{ sprint.total }}</td>
            <td>{{ sprint.completed }}</td>
            <td>{{ sprint.completion }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button class="btn btn-primary disabled js-view-combined">View Combined</button>
<button class="btn btn-primary js-do-snapshot">Update</button>
<button class="btn btn-primary js-get-stats">Stats</button>

{% endblock %}
