{% extends "base.html" %}

{% block title %}{% for sprint in sprints%}{{ sprint.name }} {% endfor %}{% endblock %}
{% block header %}{% for sprint in sprints%}{{ sprint.name }} {% endfor %}{% endblock %}

{% block js %}
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/raphael.2.1.0.min.js"></script>
<script src="/static/js/justgage.1.0.1.min.js"></script>

<script>

function generateBurndownDatasets(remaining, completed, total) {
    var burndownData = {
        labels: {{ stats.all.dates|tojson|safe }},
        datasets: [
            {
                label: 'Remaining',
                data: remaining,
                strokeColor: "#EA7B7F",
                pointColor: "#EA7B7F",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "#EA7B7F"
            },
            {
                label: 'Completed',
                data: completed,
                strokeColor: "#BEEAAE",
                pointColor: "#BEEAAE",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "#BEEAAE"
            },
            {
                label: 'Total',
                data: total,
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)"
            }
        ]
    };
    return burndownData;
}

$(function() {

    // Draw graphs
    Chart.defaults.global.responsive = true;

    var burndownCtx = $("#burndown").get(0).getContext("2d");
    {% raw %}
    options = {
        datasetFill: false,
        multiTooltipTemplate: "<%if (datasetLabel){%><%=datasetLabel%>: <%}%><%= value %>"
    };
    {% endraw %}
    var burndownData = generateBurndownDatasets({{ stats.all.remaining|tojson|safe }},
        {{ stats.all.completed|tojson|safe }}, {{ stats.all.total|tojson|safe }});
    var burndownChart = new Chart(burndownCtx).Line(burndownData, options);

    var categoryCtx = $("#categories").get(0).getContext("2d");
    var allCategoryData = [];
    var committedCategoryData = [];
    {% for state, state_data in states.items() %}
    allCategoryData.push({
        value: {{ issue_state_stats['all'][state] }},
        color:"{{state_data.color}}",
        label: "{{state_data.label}}"
    });

    committedCategoryData.push({
        value: {{ issue_state_stats['committed'][state] }},
        color:"{{state_data.color}}",
        label: "{{state_data.label}}"
    });
    {% endfor %}

    var categoryChart = new Chart(categoryCtx).Doughnut(allCategoryData, options);

    // Setup the completion gauges
    var completionGauge = new JustGage({
        id: 'completion-percentage',
        value: {{ stats.all.completion }},
        label: "%",
        min: 0,
        max: 100,
        title: "Completion Percentage",
        levelColors: ["#ff0000", "#f9c802", "#a9d70b"]
    });

    // Handle issue commitments
    $('.js-committed').click(function(e) {
        var issue_id = $(e.currentTarget).data('issue-id');
        $.ajax({
            type: 'POST',
            url: '/sprints/{{sprints[0].id}}/commitments',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify([{issue_id: issue_id, committed: e.currentTarget.checked}])
        });
    });

    // Handle locking the sprint
    $('.js-locked').click(function(e) {
        $.ajax({
            type: 'PATCH',
            url: '/sprints/{{sprints[0].id}}',
            dataType: 'JSON',
            contentType: 'application/json',
            data: JSON.stringify({locked: e.currentTarget.checked})
        });
    });

    $('.js-committed-only').click(function(e) {
        burndownChart.destroy();
        categoryChart.destroy();
        if (e.currentTarget.checked) {
            burndownData = generateBurndownDatasets({{ stats.committed.remaining|tojson|safe }},
                {{ stats.committed.completed|tojson|safe }}, {{ stats.committed.total|tojson|safe }});
            burndownChart = new Chart(burndownCtx).Line(burndownData, options);
            categoryChart = new Chart(categoryCtx).Doughnut(committedCategoryData, options);
            completionGauge.refresh({{ stats.committed.completion }});
            $('.js-total-points').text({{stats.committed.total[-1]}});
        } else {
            burndownData = generateBurndownDatasets({{ stats.all.remaining|tojson|safe }},
                {{ stats.all.completed|tojson|safe }}, {{ stats.all.total|tojson|safe }});
            burndownChart = new Chart(burndownCtx).Line(burndownData, options);
            categoryChart = new Chart(categoryCtx).Doughnut(allCategoryData, options);
            completionGauge.refresh({{ stats.all.completion }});
            $('.js-total-points').text({{stats.all.total[-1]}});
        }
        burndownChart.update();
    });
});
</script>
{% endblock %}

{% block content %}
<h4>
    Stats
    <input type="checkbox" class="js-committed-only committed-only"><label class="committed-label">Committed issues only</label>
</h4>
<div class="row">
    <div class="col-md-8">
        <canvas id="burndown" style="width: 100%; height: 400px;"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="categories" style="width: 100%; height: 300px;"></canvas>
        <div class="category-legend">
            <ul>
                {% for state in states.values() %}
                <li>
                <div class="category-color" style="background-color: {{state.color}};"></div>
                {{state.label}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="row details">
    <div class="col-md-4">
        <ul class="sprint-details">
            <li><strong>End date:</strong> {% for sprint in sprints%}{{sprint.end_date}}{% endfor %}</li>
            <li><strong>Total points:</strong> <span class="js-total-points">{{stats.all.total[-1]}}</span></li>
            {% if sprints|length == 1 %}
            <li>
                <input type="checkbox" class="js-locked locked" {% if sprints[0].locked %}checked{% endif %}>
                <strong>Locked</strong>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div id="completion-percentage" class="200x160px"></div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <h4>Issues</h4>
        <table class='table'>
            <thead>
                <tr>
                    <th>Issue</th>
                    <th>State</th>
                    <th>Committed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for issue, state, snapshot, sprint_count in issues %}
                <tr>
                    <td>
                        <a href="{{issue.html_url}}" target="_blank">
                            #{{issue.number}} - {{issue.title}}
                        </a>
                        {% if sprint_count > 1 %}
                        <span class="label label-danger">{{sprint_count}} sprints</span>
                        {% endif %}
                        {% if issue.labels %}
                            <ul class="list-unstyled list-inline issue-tag-list">
                                {% for label in issue.labels %}
                                    <li style="background:#{{label.color}};color:{{label.color|foreground_color}};" class="issue-tag">
                                        {{label.name}}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>{{states[state].label}}</td>
                    <td>
                        <input class="js-committed" type="checkbox" data-issue-id="{{issue.number}}" {% if issue.number in committed_issues %}checked{% endif %} {% if sprints|length > 1 %}disabled{%endif%}>
                    </td>
                    <td><a href="{{ url_for('issue', repo=snapshot.repo, issue_id=issue.number) }}">Stats</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>

<h3>Issues by label</h3>
<ul>
    {% for label_name, label_stats in stats.label_stats.iteritems() %}
    <li>
        <strong>{{ label_name }}</strong>: {{ label_stats.total_story_points }} / {{ stats.all.total[-1] }}
    </li>
    {% endfor %}
</ul>

<hr>

<div class="row">
    <div class="col-md-12">
        <h4>Snapshots</h4>
        <table class='table'>
            <thead>
                <tr>
                    <th></th>
                    {% for snapshot in snapshots %}
                    <th>{{ snapshot.local_timestamp.strftime('%b %d, %Y') }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for state, state_data in states.items() %}
                <tr>
                    <th>{{ state_data.label }}</th>
                    {% for snapshot in snapshots %}
                    <td>{{ snapshot.get_points_for_states([snapshot.id], [snapshot.sprint_id], [state]) }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <th>Total</th>
                    {% for snapshot in snapshots %}
                    <td><strong>{{ snapshot.total_points() }}</strong></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
