{% extends "base.html" %}

{% block title %}Sprints{% endblock %}
{% block header %}Sprints{% endblock %}

{% block js %}
<script>
$(function() {
    $('.js-do-snapshot').click(function() {
        $('.js-do-snapshot').prop('disabled', true);
        $('.js-do-snapshot').text('Updating...');
        $('.js-do-snapshot').removeClass('btn-primary');
        $.ajax({
            type: 'POST',
            url: '/snapshot',
        }).done(function() {
            document.location.reload(true);
        }).always(function() {
            $('.js-do-snapshot').prop('disabled', false);
            $('.js-do-snapshot').text('Update');
            $('.js-do-snapshot').addClass('btn-primary');
        });
    });
});
</script>
{% endblock %}

{% block content %}
<table class='table'>
    <thead>
        <tr>
            <th>Sprint</th>
            <th>End Date</th>
            <th>Total Points</th>
            <th>Completed Points</th>
            <th>Completion Percentage</th>
        </tr>
    </thead>
    <tbody>
        {% for sprint in sprints %}
        <tr>
            <td>
                <a href="/sprints/{{sprint.model.id}}">{{ sprint.model.name }}</a>
                {% if sprint.model.locked %}
                <img src='/static/img/lock-16.png'>
                {% endif %}
            </td>
            <td>{{ sprint.model.end_date }}</td>
            <td>{{ sprint.total }}</td>
            <td>{{ sprint.completed }}</td>
            <td>{{ sprint.completion }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button class="btn btn-primary js-do-snapshot">Update</button>
{% endblock %}
